:root {
  --font-size-base: 0.7rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.5rem;
  --font-size-extra-large: 1.9rem;
  --line-height-base: 1.1rem;
  --line-height-medium: 1.4rem;
  --line-height-large: 1.9rem;
  --line-height-extra-large: 2.3rem;
}