:root {
  --font-size-weight: bold;
  --font-size-small: 0.7rem;
  --font-size-base: 1rem;
  --font-size-large: 1.5rem;
  --font-size-extra-large: 1.9rem;
  --line-height-small: 1.1rem;
  --line-height-base: 1.4rem;
  --line-height-large: 1.9rem;
  --line-height-extra-large: 2.3rem;

  --background-primary: #262626;
  --background-secondary: #595959;
  --background-tertiary: #8c8c8c;
  --background-footer: #8a8aa8;

  --button-background-sucess: #67C23A;
  --button-background-warning: #E6A23C;
  --button-background-warning: #E6A23C;
  --button-background-danger: #F56C6C;
  --button-background-info: #909399;

  --home-button-background-1: #8a8aa8;
  --home-button-background-2: #fff;
  --home-button-background-3: #fff;
  --home-button-background-4: #fff;
  --home-button-background-5: #fff;
  --home-button-background-6: #fff;
  --home-button-background-7: #fff;
  --home-button-background-8: #fff;
  --home-button-background-9: #fff;
  --home-button-background-10: #fff;
  --home-button-background-11: #fff;
  --home-button-background-12: #fff;

  --home-second-color: pink;
}