@import "./base.css";
@import url("./home.css");

#app {
  width: 1280px;
  height: 1080px;
  background: url(./img/43inch-footer-bg.png) center/120%;
}

body div,
body span,
body i {
  font-family: Calibri, Segoe, Segoe UI, 微软雅黑;
}