@import "./base.css";
@import url("./home.css");
/* @import url("./global.css"); */


@media screen and (min-width: 1281px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 1081px) and (max-width: 1280px) {
  html {
    font-size: 20px;
    width: 1280px;
    height: 1024px;
    background: linear-gradient(0deg, #404172 0%, #050C2A 100%);
  }
}
@media screen and (min-width: 300px) and (max-width: 1080px) {
  html {
    font-size: 20px;
    width: 1080px;
    height: 1920px;
    background: linear-gradient(0deg, #404172 0%, #050C2A 100%);
  }
}
body div,
body span,
body i {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
}

.menu-name-wrap .ico-plane {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: 50% 100% !important;
}